

.caja-1{
    padding-top: 30px;
    padding-left: 50px;
    height: 500px;
    width: 250px;
    background-color: black;
    margin: 0 auto;
    border-radius: 10px;
}

.red, .yellow, .green{
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.on{
    box-shadow: 0 0 20px rgb(253, 253, 253);
}
